{% macro bookingSuccess(postUrl, roomId, _csrf) %}
    <div class="success-summary" role="group" tabindex="-1">
        <form class="" action="{{ postUrl }}" method="post">
            <h2 class="heading-small success-summary-heading no-margin-heading" id="successSummary">Desk booked</h2>
            <p><strong class="strong">A confirmation email has been sent. A link to cancel is included in the email.</strong></p>
            <input type="hidden" name="bookedRoom" value="{{ roomId }}">
            <input type="hidden" name="_csrf" value="{{ _csrf }}">
            <input class="button cancel-booking-button" type="submit" name="submit" value="Undo">
        </form>
    <div class="clearfix"></div>

    </div>
{% endmacro %}

{% macro successMessage(heading, summary, additional, anchorLabel, href) %}
    <div class="success-summary" role="group" tabindex="-1">
        <h2 class="heading-small success-summary-heading no-margin-heading" id="successSummary">{{ heading }}</h2>
        <p><strong class="strong">{{ summary }}</strong></p>
        {% if additional %}
        <p>{{ additional }}</p>
        {% endif %}
        {% if anchorLabel %}
        <a class="button" href="{{ href }}">{{ anchorLabel }}</a>
        {% endif %}
    </div>
{% endmacro %}

{% macro success(successes, heading, lede) %}
    <div class="success-summary" role="group" tabindex="-1">
        <h2 class="heading-small success-summary-heading no-margin-heading" id="successSummary">{{ heading }}</h2>
        <p>{{ lede }}</p>
        <ul class="success-summary-list">
            {% for key, value in successes %}
                <li>{{ value.msg | safe }}</li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro error(errors) %}
<div class="error-summary" role="group" aria-labelledby="error-summary" tabindex="-1">
    <h1 class="heading-medium error-summary-heading no-margin-heading" id="errorSummary">An error has occured</h1>
    <p>You must: </p>
    <ul class="error-summary-list">
        {% for key, value in errors %}
        <li><a href="#{{ value.param }}">{{ value.msg }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro errorMessage(heading, summary, additional, anchorLabel, href) %}
    <div class="error-summary" role="group" tabindex="-1">
        <h2 class="heading-medium error-summary-heading no-margin-heading" id="errorSummary">{{ heading }}</h2>
        <p><strong class="strong">{{ summary }}</strong></p>
        {% if additional %}
        <p>{{ additional }}</p>
        {% endif %}
        {% if anchorLabel %}
        <a class="button" href="{{ href }}">{{ anchorLabel }}</a>
        {% endif %}
    </div>
{% endmacro %}
