.success-summary {
    border: 4px solid $button-colour;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 15px 10px;
}

@media (min-width: 641px) {
    .success-summary {
        border: 5px solid $button-colour;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 20px 15px 15px; }
 }

.success-summary:focus {
    outline: 3px solid $focus-colour;
}

.success-summary .success-summary-heading {
    margin-top: 0;
}

.success-summary p {
    margin-bottom: 10px;
}

.success-summary .success-summary-list {
    padding-left: 0;
    color: $button-colour;
}

@media (min-width: 641px) {
    .success-summary .success-summary-list li {
        margin-bottom: 5px;
    }
}

.success-summary .success-summary-list a {
    color: $button-colour;
    font-weight: bold;
    text-decoration: underline;
}

.success-summary-heading {
    color: $button-colour;
}

.cancel-booking-button {
    float: right;
}

.booking-details-table {
    margin-bottom: 4rem;
}
