.main-heading {
    margin-bottom: 2rem;
}

.centred-text {
    text-align: center;
}

.lede {
    margin-bottom: 0;
}

.strong,
strong {
    font-weight: bold;
}

.no-margin-heading {
    margin-top: 0;
}

.no-either-margin-heading {
    margin-top: 0;
    margin-bottom: 0;
}

.additional-margin-heading {
    margin-bottom: 2rem;
}

.cookie-message {
    text-align: center;
    font-weight: bold;
}

.training-session-link {
    text-decoration: none;
}

.black-text {
    color: black;
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}
