<div class="room-details-section">
    <p class="room-details"><strong class="strong">{{ room.message }}</strong></p>
    <br />
    <p class="room-details"><strong class="strong">Floor: </strong>{{ room.equipment }}</p>
    <p class="room-details"><strong class="strong">Desk function 1: </strong>{{ room.sitting }}</p>
    <p class="room-details"><strong class="strong">Desk function 2: </strong>{{ room.standing }}</p>
</div>
