{% extends "nunjucks/templates/govuk_template.njk" %}
{% import "nunjucks/macros/typography.njk" as typography %}
{% import "nunjucks/macros/tables.njk" as tables %}
{% import "nunjucks/macros/forms.njk" as forms %}
{% import "nunjucks/macros/messages.njk" as messages %}


{% block page_title %}Cancel{% endblock %}

{% block pre_content %}
    {{ typography.mainHeading ('Booking details') }}
{% endblock %}

{% block content %}

    <div class="column-two-thirds">
        {{ tables.bookingDetails(booking, room, '/cancel', _csrf) }}
    </div>

{% endblock %}
