{% extends "nunjucks/templates/govuk_template.njk" %}
{% import "nunjucks/macros/typography.njk" as typography %}
{% import "nunjucks/macros/tables.njk" as tables %}

{% block page_title %}{{ siteLocation }} - Home{% endblock %}

{% block pre_content %}
    {{ typography.mainHeading(siteLocation + ' Desk Booking')}}
    {{ typography.paragraph('This system is only for use by people based in ' + siteLocation + '.', 'lede')}}
{% endblock %}

{% block content %}
<br>
    <div class="user-home-wrapper">
        <div class="user-home-options-wrapper">
        <h2 class="heading-small no-margin-heading">Room booking</h2>
        <div class="column-third gutter-padding-right">
            <a class="user-home-option choose-option" href="/choose">Choose</a>
        </div>
        <div class="column-third gutter-padding-right">
            <a class="user-home-option overview-option" href="/overview">Overview</a>
        </div>
        <div class="column-third gutter-padding-right">
            <a class="user-home-option check-option" href="/check">Find</a>
        </div>
        <div class="clearfix"></div>
        </div>
    </div>
    {% if showParking %}
    <div class="user-home-wrapper">
        <h2 class="heading-small no-margin-heading">Car park</h2>
        <div class="column-third gutter-padding-right">
        <a class="user-home-option parking-give-option" href="/parking-give">Give</a>
        </div>
        <div class="column-third gutter-padding-right">
        <a class="user-home-option parking-take-option" href="/parking-take">Take</a>
        </div>
        <div class="column-third gutter-padding-right">
        <a class="user-home-option parking-visitor-option" href="/parking-visitor">Visitor</a>
        </div>
    <div class="clearfix"></div>
    </div>
    {% endif %}
{% endblock %}
